.menu-items{
    color: rgba(255,255,255,.7);
    text-decoration: none;
    padding: 2px 10px;
    transition: all 0.3s ease-in-out;
}
.bg-secondary {
    background-color: #00283D!important;
}
.menu-items:hover {
    color: rgba(255,255,255);
    text-decoration: none;
    border-bottom: 1px solid #fff;
}
