.card-box {
    /* width: 800px; */
    width: 75%;
    margin: 15px auto;
    padding: 15px;
}
.card-footer {
    margin-top: 10px;
}
.news-img {
    margin-bottom: 10px;
}

@media (max-width: 991px) {
    .card-box {
        width: 100%;
        margin: 10px auto;
        padding: 10px;
    }
}
@media (max-width: 767px) {
    .card-box {
        padding: 8px;
    }
}
